
/* Base */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
  overflow-x: hidden;
  background: #fff;
}
html.dragging body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  position: relative;
  font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 20px;
  color: #6e6e6e;
}
a {
  color: #3396FF;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
a:hover {
  color: #FF4BD8;
}

/* Clearfix */

.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}

/* Material icons */

.material-icons {
  display: inline-block;
  vertical-align: top;
  line-height: inherit;
  font-size: inherit;
}

/* Buttons */

.btn {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0px 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  height: 40px;
  text-align: center;
  white-space: nowrap;
  background: #4a9ff9;
  color: #fff;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 3px;
}
.btn:focus,
.btn:hover,
.btn:active {
  outline: 0;
}
.btn:hover {
  background: #3989de;
}
.btn:active {
  background: #3075bf;
}
.btn.active {
  background: #60ca47;
}
.btn.active:hover {
  background: #40b325;
}
.btn.active:active {
  background: #309818;
}

/* Forms */

.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 5px 15px;
  font-size: 16px;
  line-height: 26px;
  color: inherit;
  background: #fff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
select.form-control {
  padding-right: 40px;
  cursor: pointer;
}
select.form-control::-ms-expand {
  display: none;
}
.select-arrow {
  position: absolute;
  right: 10px;
  top: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  z-index: 2;
  pointer-events: none;
}
.form-control:focus {
  outline: 0;
  border-color: #4a9ff9;
}

/* Header */

header {
  margin: 30px auto;
  max-width: 940px;
}
header h1 {
  color: #3e3e3e;
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 10px 0;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
}
header h1 span {
  position: absolute;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-left: 10px;
  margin-top: 5px;
  text-transform: none;
  color: #aaa;
}
header h2 {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  max-width: 940px;
  margin: 0 auto;
  color: #6e6e6e;
}
header h2 > span {
  display: block;
  font-size: 17px;
  color: #aaa;
  margin-top: 3px;
}
header h2 > span > i {
  margin: 0 10px;
  color: #ccc;
}
header aside {
  color: #bbb;
  font-size: 15px;
  margin-top: 5px;
  font-style: italic;
  text-align: center;
}
header nav {
  text-align: center;
}
header nav a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 20px;
  font-size: 20px;
  font-weight: 400;
}
header nav a i {
  display: block;
  position: absolute;
  height: 2px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: #FF4BD8;
  opacity: 0;
  z-index: 2;
  -moz-transform: scale(0, 1);
  -webkit-transform: scale(0, 1);
  -o-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0s ease 0.2s;
  -moz-transition: -moz-transform 0.2s ease-out, opacity 0s ease 0.2s;
  -ms-transition: -ms-transform 0.2s ease-out, opacity 0s ease 0.2s;
  -o-transition: -o-transform 0.2s ease-out, opacity 0s ease 0.2s;
  transition: transform 0.2s ease-out, opacity 0s ease 0.2s;
}
header nav a:hover i {
  opacity: 1;
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0s ease 0s;
  -moz-transition: -moz-transform 0.2s ease-out, opacity 0s ease 0s;
  -ms-transition: -ms-transform 0.2s ease-out, opacity 0s ease 0s;
  -o-transition: -o-transform 0.2s ease-out, opacity 0s ease 0s;
  transition: transform 0.2s ease-out, opacity 0s ease 0s;
}
@media (max-width: 600px) {
  header {
    margin-bottom: 0;
  }
  header h2 > span {
    margin-top: 10px;
  }
  header h2 > span > i {
    display: none;
  }
  header h2 > span > span {
    display: block;
  }
  header nav {
    margin-top: 20px;
    border-bottom: 0;
    border-top: 1px solid #e5e5e5;
  }
  header nav a {
    display: block;
    vertical-align: top;
    padding: 10px 20px;
    border-bottom: 1px solid #e5e5e5;
  }
  header nav a i {
    bottom: -1px;
    left: 0;
    right: 0;
  }
}

/* Footer */

footer {
  margin: 0 auto;
  max-width: 940px;
  text-align: center;
  border-top: 2px solid #e5e5e5;
  padding-top: 30px;
  padding-bottom: 30px;
}
footer p {
  margin: 0;
}
footer .credits {
  color: #aaa;
  font-size: 16px;
  margin-bottom: 5px;
  font-style: italic;
}
footer .copyright i {
  font-size: 24px;
  height: 27px;
  line-height: 32px;
  display: inline-block;
  vertical-align: top;
}

/* Sections */

section {
  margin: 60px auto;
  padding-top: 0;
  max-width: 940px;
  border-top: 2px solid #e5e5e5;
  text-align: left;
}
section.demo {
  margin-top: 30px;
}
section h4 {
  margin: 30px 0 15px 0;
  font-weight: 500;
  font-size: 20px;
  color: #3e3e3e;
}
@media (max-width: 600px) {
  section.demo {
    border-top: 0;
  }
}

/* Section titles */

.section-title {
  color: #3e3e3e;
  font-size: 26px;
  font-weight: 700;
  margin: 40px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}
.section-title > span {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.section-title > span:after {
  content: "";
  display: block;
  position: absolute;
  left: 10px;
  bottom: 0;
  right: 10px;
  height: 2px;
  background: #3e3e3e;
}

/* Feature list */

.feature-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.feature-list-item {
  position: relative;
  padding-left: 80px;
  margin: 30px 0;
  overflow: hidden;
}
.feature-list-icon {
  display: block;
  float: left;
  margin-left: -80px;
  width: 80px;
  font-size: 48px;
  line-height: 48px;
  text-align: left;
  color: #3396FF;
}
.feature-list-text h4 {
  margin: 0 0 15px 0;
  font-weight: 500;
  font-size: 20px;
}
@media (max-width: 600px) {
  .feature-list-item {
    padding-left: 0;
  }
  .feature-list-icon {
    margin: -4px 10px 0 0;
    width: 24px;
    font-size: 24px;
    line-height: inherit;
  }
}
