<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Slick Kanban Helpdesk</title>
    <meta name="description" content="Kanban is a Japanese method of increasing productivity and happiness.">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Hayden Bacon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:400,300,300italic,400italic,500,500italic,700,700italic">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/kanban.css') }}">
  </head>
  <body>

    <section class="kanban-demo">

      <h2 class="section-title"><span>Kanban Demo</span></h2>

      <div class="board">
        <div class="board-column">
          <div class="board-column-header">Queue</div>
          <div class="board-column-content">

	{% for list in queue_tickets %}
        <div class="board-item"><div class="board-item-content">
	<a href="{{ helpdesk_url }}/Helpdesk/Ticket/{{  list['IssueID'] }}">
	{{ list['IssueID'] }} <span>{{ list['Subject'] }}</span>
	</a>
	</div></div>
	{% endfor %}

          </div>
        </div>
        <div class="board-column">
          <div class="board-column-header">Working</div>
          <div class="board-column-content">

	{% for list in working_tickets %}
        <div class="board-item"><div class="board-item-content">
	<a href="{{ helpdesk_url }}/Helpdesk/Ticket/{{  list['IssueID'] }}">
	{{ list['IssueID'] }} <span>{{ list['Subject'] }}</span>
	</a>
	</div></div>
	{% endfor %}

          </div>
        </div>
        <div class="board-column">
          <div class="board-column-header">Closed</div>
          <div class="board-column-content">

	{% for list in closed_tickets %}
        <div class="board-item"><div class="board-item-content">
	<a href="{{ helpdesk_url }}/Helpdesk/Ticket/{{  list['IssueID'] }}">
	{{ list['IssueID'] }} <span>{{ list['Subject'] }}</span>
	</a>
	</div></div>
	{% endfor %}

          </div>
        </div>
      </div>
    </section>

    <script src="{{ url_for('static', filename='js/vendor/velocity.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/hammer.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/muuri.js') }}"></script>
    <script src="{{ url_for('static', filename='js/grid.js') }}"></script>
    <script src="{{ url_for('static', filename='js/kanban.js') }}"></script>

  </body>

</html>
